/* the imported fonts google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

/* variables here */

$font-size: 1.4rem;
$white: white;

$family: 'Open Sans', sans-serif;

$red-beet: #520340;

$sugar: #f2f0f0;

$fuchsia: #f50475;

$purple: #8a019f;

$blueweed: #039dae;

$trans: 0.4s;

$red: red;

$colorOne: #cecbcb;

$colorTwo: #e4e2e2;

$colorRd: #d5d5d5;

$black: black;

$blueI: #039dae;

$brown: #2a0d17;

$critical: rgb(245, 152, 152);

$high: rgb(247, 184, 90);

$medium: rgb(247, 229, 90);

$low: rgb(163, 244, 202);

$green: green;

$gray: #a3a3a3;